
   /* GLOBAL STYLES

           * PALETTE MOODBOARD *
          
           #e6cfaf [beige chiaro]
           #c4a082 [beige]
           #39241A [marrone scuro]
           #8ba07b [verdino]
           #97afc1 [azzurrino]
           #6b6561 [grigio]

           #405d4a [verde scuro]
           #9ab09a [verde intermedio]
           #c3ceb5 [verde chiaro]

-------------------------------------------------- */

a:link { color:#405d4a; text-decoration: none; }
a:visited { color:#405d4a; text-decoration: none; }
a:hover { color:#405d4a; text-decoration:underline; }
a:active { color:#405d4a; text-decoration: none; }
  
.bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
   }
 
.back{
   background-color: #c3ceb5;
   color: #405d4a;
}

   .foot {
background-color: #9ab09a;
color: aqua;
   }

   /*img {
           border: 2px solid #9ab09a;
           border-radius: 4px;
           padding: 6px;
           width: 400px;
         }  */

   @media (min-width: 768px) {
     .bd-placeholder-img-lg {
       font-size: 3.5rem;
     }
   }

  

   .b-example-vr {
     flex-shrink: 0;
     width: 1.5rem;
     height: 100vh;
   }

   /* .bi= lente + globo navbar */
   .bi {
     vertical-align: -.125em;
     fill: #c3ceb5;
   }
   .navbar{
       min-height: 55px;
   }
  
   .nav-scroller {
     position: relative;
     z-index: 2;
     height: 2.75rem;
     overflow-y: hidden;
   }

   .nav-scroller .nav {
     display: flex;
     flex-wrap: nowrap;
     padding-bottom: 1rem;
     margin-top: -1px;
     overflow-x: auto;
     text-align: center;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;
   }


   /* MARKETING CONTENT
-------------------------------------------------- */

   /* Center align the text within the three columns below the video */
   .marketing .col-lg-4 {
     margin-bottom: 1.5rem;
     text-align: center;
   }

   /* rtl:begin:ignore */
   .marketing .col-lg-4 p {
     margin-right: .75rem;
     margin-left: .75rem;
   }

   /* rtl:end:ignore */


   /* Featurettes
------------------------- */

   .featurette-divider {
     margin: 5rem 0;
     /* Space out the Bootstrap <hr> more */
   }

   /* Thin out the marketing headings */
   /* rtl:begin:remove */
   .featurette-heading {
     letter-spacing: -.05rem;
   }

   /* rtl:end:remove */

   /* RESPONSIVE CSS
-------------------------------------------------- */

   @media (min-width: 40em) {
     .featurette-heading {
       font-size: 45px;
     }
   }

   @media (min-width: 62em) {
     .featurette-heading {
       margin-top: 7rem;
     }
   }

   video {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       -o-object-fit: cover;
       object-fit: cover;
       -o-object-position: center;
       object-position: center;
   }

   .overlay {
       min-height: 100vh;
       display: flex;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       justify-content: center;
   }

   .overlay h2 {
       background-color: rgba(255, 255, 255, 0.901);      
       color:#405d4a;
       font-weight: 800;
       margin: 2rem 3rem 0;
       mix-blend-mode: overlay;
       padding: 10px 25px;
       text-align: center;
       font-size: 40px
       }

  
   .bg {
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-clip: border-box;
     background-color: #405d4a;
   }
  
   .txt {
       color: #c3ceb5;
     }

     .bottone{
      background-color:#9ab09a;
      border-color:#405d4a;
      color:#405d4a;
     }

   /* MENU FIGO */
   :root {
 --home-bg-color: #c3ceb5; /*sfondo non viola*/
 --menu-bg-color: #9ab09a; /*sfondo trattini*/
 --silde-btn-border: #405d4a;
 --alpha-green: rgba(33, 96, 47, 0.537); /*parte trasparente scura*/
 --icon-hover-bg: #405d4a; /*testi link*/
 --text-color: #405d4a; /*voci menu*/
 --border-color: #405d4a; /*bordo e trattini*/
 --box-shadow-color: #b5b5ac;
 --lightest-green: #c3ceb5; /*sfondo metà chiaro*/
 --dark-green: rgba(52, 74, 57, 0.86);
 --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
 --border-radius: 60px 5px;
 --fade-green: rgba(57, 87, 64, 0.55);
}
*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
}
body,
html {
 width: 100%;
 font-size: 10px;
 color: var(--text-color);
 font-weight: normal;
 font-family: sans-serif;
 background-color: var(--home-bg-color);
}

#ham-menu {
 display: none;
}
label[for="ham-menu"] {
 display: block;
 position: fixed;
 top: 24px;
 left: 20px;
 z-index: 999;
 width: 60px;
 height: 60px;
 background-color: var(--home-bg-color);
 border-radius: 15px;
 border: 2px solid var(--border-color);
}
.ham-menu {
 width: 50vw;
 height: 100%;
 position: fixed;
 top: 0;
 visibility: hidden;
 transform: translate(-110%);
 z-index: 998;
 background-color: var(--lightest-green);
 transition: 1s;
 display: flex;
 justify-content: center;
 align-items: center;
}
.ham-menu > ul {
 display: flex;
 flex-flow: column nowrap;
 justify-content: space-around;
 padding: 20px;
 height: 50%;
}
.ham-menu > ul > li {
 font-size: 5rem;
 white-space: nowrap;
 letter-spacing: 0.15em;
 cursor: pointer;
 color: #405d4a
}
#ham-menu:checked + label {
 background-color: transparent;
 border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
 transform: translate(0px);
 visibility: visible;
}
.full-page-green {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--dark-green);
 z-index: 997;
 opacity: 0;
 visibility: hidden;
 display: none;
 transition: 500ms;
 position: fixed;
 top: 0;
 left: 0;
}
#ham-menu:checked ~ div.full-page-green {
 display: block;
 opacity: 1;
 visibility: visible;
}
[for="ham-menu"] > div {
 width: 100%;
 height: 100%;
 display: flex;
 flex-flow: column wrap;
 align-content: center;
 align-items: center;
}
.menu-line {
 display: block;
 width: 17px;
 height: 2px;
 margin: 10px 0 5px;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
 background-color: var(--border-color);
 transition: 500ms;
 transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-top-right-radius: 2px;
 border-bottom-right-radius: 2px;
 transform-origin: left center;
}
#ham-menu:checked + label span {
 background-color: var(--dark-green);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
 transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
 transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
 transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
 transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
 transform: translateY(-17px) rotate(45deg);
}
p {
 display: inline;
 font-size: 1.8rem;
 line-height: 1.5em;
 word-spacing: 0.5em;
 letter-spacing: 0.1em;
 font-family: "OpenSansCondensed-Light";
}
a {
 font-size: 1.6rem;
 line-height: 1.5em;
 word-spacing: 0.5em;
 letter-spacing: 0.1em;
 font-family: "OpenSansCondensed-Light";
 display: inline;
 font-weight: bold;
 padding: 7px;
 color:#9ab09a;
}
a::after {
 content: "\e806";
 display: inline-block;
 font-family: fontello;
 padding: 5px;
 font-size: 1.6rem;
 transform: rotate(-90deg);
}
.text {
 font-size: 2.5rem;
 line-height: 1.5em;
 word-spacing: 0.5em;
 letter-spacing: 0.1em;
 font-family: "OpenSansCondensed-Bold", sans-serif;
}
.title {
 font-size: 3rem;
 line-height: 1.5em;
 word-spacing: 0.5em;
 letter-spacing: 0.1em;
 font-family: "OpenSansCondensed-Bold", sans-serif;
 color: var(--icon-hover-bg);
 padding: 10px;
}
.heading {
 font-size: 6rem;
 line-height: 1.5em;
 word-spacing: 0.5em;
 letter-spacing: 0.1em;
 font-family: "Patua One";
}
.centre-text {
 text-align: center;
}
.bold-text {
 font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* STILE CATALOGO */
body {
  background-color: #9ab09a;
  padding: 60px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: "Lobster" , "cursive";
  margin-top: 60px;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #9ab09a;
  padding: 100px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* stile aggiungi al carrello */


.box {
  width: 980px;
  height: 200px;
  background-color: transparent;
  border: 2px solid #405d4a;
  margin-left: -30px;
  margin-top: 50px;
}

h2{
  font-family: "Patua One, sans-serif";
}

.box1 {
  width: 940px;
  height: 60px;
  background-color: #9ab09a;
  border: 2px solid #405d4a;
  margin-left: 20px;
  margin-top: 50px;
}

.box2{
  width: 980px;
  height: 60px;
  background-color: #9ab09a;
  border: 2px solid #405d4a;
  margin-left: -400px;
  margin-top: 50px;
}

.karen {
  background-color:#c3ceb5;
  width: 308%;
  margin: none;
  margin-left: -700;
  margin-top: none;
  text-align: left;
}

.nav-link {
  font-size: 150%;
  text-align:left;
  margin-left: -50%;
}

.float-end{
  margin-left: -5%;
  margin-block-start: 3%;
  margin-top:  none;
  
}